.required {
  color: rgb(247, 8, 8);
}

.link {
  color: rgb(10, 105, 248);
  text-decoration: underline;
}

.formBox {
  background-color: rgba(255, 255, 255, 0.95);
  border: 2px solid rgb(54, 54, 54);
  border-radius: 2%;
  padding: 20px;
  box-shadow: 5px 6px #01010159;
  
}

h1{
  text-shadow: 2px 2px #fff, 2px 2px #fff;
  
}

body{
  background-image: url('/images/teens.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
}

Form{
  padding: 20px;
}

.help {
  font-size: 2em;
}


.error {
  color: red;
  font-size: .7rem;
}

.labels {
  align-self: right;
}
